.page-header
  %h1 Builds

%p.text-right
  %a.btn.btn-primary(href='#new' data-toggle='modal')
    %i.icon-plus
    New

= render partial: 'builds_table', locals: {builds: @builds}

= render partial: 'page_controls', locals: {page: @page, last_page: @builds.count < @per_page}

= render partial: 'new_modal'
